*{
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    padding: 0;
}

.header{
    position: relative;
    width: 100%;
    height: 667px;
    background-color: white;
}

.main{
    position: absolute;
    width: 95%;
    height: 667px;
    background-color:white;
    display: flex;
    margin-left:.6rem;
    margin-right: .5rem;
    flex-direction: column;
}

.footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    position: fixed;
    display: flex;
    flex-direction: row;
    background: white;
}


.find_search{
    margin-top: 1.2rem;
    width: 100%;
    height: 39px;
    background: #FFFFFF;
    border: 0.5px solid #676565;
    border-radius: 5px;
}
.find_search span{
    margin-left: 5px;
    font-size: 15px;
    font-weight: 400;
}

.find_search input{
    border: none;
    outline: none;
    margin-left:.5rem;
    padding: .4rem;
    background-color:white;
    width: 90%;
    height: 35px;
    font-size: 15px;
    font-weight: 400;
}

.category{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    margin-top: 15px;
    margin-left: 15px;
    color: #000000;
}

.fa_icons{
    padding-left: 4.8rem;
    margin-bottom: 2px;
    font-size: 25px;
}


/* map_service */

.map_service{
    overflow-y: auto;
}



/* Order style */

.main_order,
.order_para{
    margin-left:.5rem;
    font-size:16px;
    font-weight: 500;
}


/* Register component */

.reg_header{
    position: relative;
    width: 100%;
    height: 100vh;
    align-items: center;
    background: #D2F0FF;
}    

.reg_main{
    box-sizing: border-box;
    position: absolute;
    width: 85%;
    height: 450px;
    left: 25px;
    right: 25px;
    top: 100px;
    bottom: 100px;
    background: #FFFFFF;
    border: 3px solid #F0EFEC;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.handyman{
    margin-top:1.2rem;
    margin-left: 1rem;
    line-height: 1rem;
    width: 100%;
}

.handyman_para{
    background: linear-gradient(89.81deg, #0081FF -2.6%, rgba(255, 0, 0, 0) 180.15%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    /* text-fill-color: transparent; */
    font-family: 'Varela Round';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
}

.handy_span{
    font-weight: 600;
    color: #000000;
    font-size: 15px;
    line-height: 24px;
}

.users_input{
    border: 1px solid #DFDDD6;
    border-radius: 10px;
    width: 94%;
    height: 50px;
}
.users_input input{
    width: 90%;
    padding-left: 5px;
    padding-bottom: 2px;
    border-radius: 10px;
    height: 48px;
    font-size: 16px;
    font-weight: 600;
    font-style: normal;
    border: none;
    outline: none;
    color: #000000;
}


.btn_primary{
    border: none;
    outline: none;
    width: 90%;
    height: 40px;
    margin-left: 1.1rem;
    margin-right: 1rem;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    color: #fff;
    margin-top: 4rem;
    background: rgba(0, 0, 255, 0.734);
    border-radius: 10px;
}


/* Common inputs */

.customer_input{
    margin-left: 1rem;
    line-height: .5rem;
    margin-top: .5rem;
}

.customer_input input{
    width: 95%;
    height: 40px;
    padding-left: .7rem;
    outline: none;
    padding-top: 0;
    border: 1px solid rgba(0, 0, 0, 0.403);
    border-radius:10px;
    line-height: 18px;
}


/* Create service main */

.service_header{
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: white;
}

.service_main{
    position: absolute;
    width: 95%;
    height: 90vh;
    top:20px;
    margin-left: 1.19rem;
    background-color:white;
    display: flex;
    flex-direction: column;
}


/* MyOrder and My Service style */

.myOrder_myService{
    position: absolute;
    width: 100%;
    top:8px
}