
  .get_Mobile_input {
    border:1px solid var(--grey-);
    border-radius: var(--border-radius-1);
    width: 100%;
    height: 46px;
    padding: 7px;
    font-size: var(--font-size-normal);
  }
  .get_Mobile_input input{
    width: 80%;
    height: 30px;
    padding-left: 7px;
    border-radius: var(--border-radius-1);
    font-family: var(--font-family-2);
    font-size: var(--font-size-normal);
    font-weight: var(--font-weight-2);
    font-style: var(--font-style-normal);
    color: var(--black);
    border: none;
    outline: none;
  }

  .get_Mobile_input span {
    font-family: var(--font-family-2);
    font-size: var(--font-size-normal);
    font-weight: var(--font-weight-2);
    font-style: var(--font-style-normal);
    color: var(--black);
  }
  
  .get_otp {
    display: grid;
    grid-template-columns: auto auto auto auto;
    place-items: center;
    
  }

.otp_text input {
    box-sizing: border-box;
    width: 45px;
    height: 50px;
    border-radius: var(--border-radius-1);
    font-family: var(--font-family-2);
    font-style: var(--font-style-normal);
    font-weight: var(--font-weight-2);
    font-size: var(--font-size-normal);
    outline: none;
    text-align: center;
    color: var(--black);
    border:1px solid var(--grey-1);;
  }
  
  .verified {
    font-family: var(--font-family-2);
    font-style: var(--font-style-normal);
    font-weight: var(--font-weight-2);
    font-size: var(--font-size-normal);
    color: var(--black);
    text-align: center;
  }