
  .get_Mobile_input {
    border: var(--br-grey);
    border-radius: var(--border-10px);
    width: 100%;
    height: 46px;
    padding: 7px;
    font-size: var(--fs-inputs);
  }
  .get_Mobile_input input{
    width: 80%;
    height: 30px;
    padding-left: 7px;
    border-radius: var(--border-10px);
    font-family: var(--ff-Inter);
    font-size: var(--fs-inputs);
    font-weight: var(--fw-300);
    font-style: var(--fs-normal);
    color: var(--clr-000);
    border: none;
    outline: none;
  }

  .get_Mobile_input span {
    font-family: var(--ff-Inter);
    font-size: var(--fs-inputs);
    font-weight: var(--fw-300);
    font-style: var(--fs-normal);
    color: var(--clr-000);
  }
  
  .get_otp {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    place-items: center;
    
  }

.otp_text input {
    box-sizing: border-box;
    width: 45px;
    height: 54px;
    border-radius: var(--border-10px);
    font-family: var(--ff-Inter);
    font-style: var(--fs-normal);
    font-weight: var(--fw-300);
    font-size: var(--fs-inputs);
    outline: none;
    text-align: center;
    color: var(--clr-000);
    border: var(--br-dark-grey);
  }
  
  .verified {
    font-family: var(--ff-Inter);
    font-style: var(--fs-normal);
    font-weight: var(--fw-300);
    font-size: var(--fs-title);
    color: var(--clr-000);
    text-align: center;
  }