@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

.user_location{
    width: 95%;
    height: 40px;
    font-family: 'Inter';
    font-style: normal;
    font-size: 18px;
    color: #000000;
    border-radius: 5px;
    margin-top: 1rem;
    border: 1px solid #C2C0C0;
}

.user_location input{
    width: 70%;
    height: 30px;
    padding-left: 9px;
    border:none;
    color: #000000;
    outline: none;
}

.add_location{
    cursor: pointer;
    font-size: 20px;
    float: right;
    font-weight: 300;
    margin-right: 1.5rem;
}

.add_btn{
    margin-top: .4rem;
    font-size: 15px;
    color: black;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
}
.choose_category{
    position: relative;
    /* min-width: 50px;
    max-width: 210px; */
    top:40px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
}

.add_more_service {
    font-size: 20px; 
    margin-left: 25px;
    cursor: pointer;
    color: black;
}

.add_service{
    position: relative;
    top: 50px;
    color: black;
    font-size: 20px;
}

.service_category{
    position: relative;
    width: 95%;
    height: 200px;
    top:60px;
    display: grid;
    grid-template-columns: 
        100px 100px 100px;
}
.veg_div,.veg_div,
.second_last_div{
    margin-left: 1.3rem;
}
.water_div,.last_div {
    margin-left: 2rem;
}


.repair_div img,.gassStove_div img{
    width: 83px;
    height: 80px;
    background-color: #B8EDDD;
    border-radius: 50%;
}

.water_div img,.gassStove_div img,
.last_div img{
    /* font-size: 13px; */
    width: 83px;
    height: 80px;
    padding-left: .5rem;
    background-color: #B8EDDD;
    border-radius: 50%;
}

.veg_div img,.second_last_div img{
    width: 84px;
    height: 80px;
    padding-left: .1rem;
    border-radius: 50%;
}


.repair_div p,.veg_div p,.gassStove_div p,.water_div p,.gassStove_div p,
.second_last_div p,.last_div p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    color: #000000;
}

.repair_div ,.gassStove_div {
    margin-left: .7rem;
}


/* Available time Zone */

.address{
    width: 95%;
    height: 100px;
    
}

.socity_div{
    background: #FFFFFF;
    border: 1px solid #C2C0C0;
    border-top: none;
    border-bottom: none;
}
.location_div{
    background: #FFFFFF;
    border: 1px solid #C2C0C0;
    border-top: none;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.time_zone{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    padding:.3rem;
    border-bottom: 1px solid #C2C0C0;
}
.socity{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    padding: .5rem;
    color: #000000
}

.minimise_address{
    position: relative;
    float: right;
    margin-right:1.5rem;
    font-size: 30px;
    top: -12px;
    color: black;
    font-weight: 500;
    cursor: pointer;
}

.location_div img {
    margin-top: .5rem;
    float: right;
    margin-right:1.3rem;
    font-size:10px;
    color: black;
    cursor: pointer;
}

.morning_time{
    margin-left:1rem;
    padding: .1rem;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: #B8EDDD;
}

.second_time_slot{
    margin-left:1rem;
    font-size: 12px;
    padding: .1rem;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: #C2C0C0;
}

.time_slot{
    font-size: 12px;
    margin-left: 3rem;
    border-radius: 5px;
    margin-bottom: 10px;
    background-color: #C2C0C0;
}

.second_time_zone{
    padding: .3rem;
}

.avail_location{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    color: #898989;
    margin-left: .5rem;
}
