
.heading_block-ele {
    box-sizing: border-box;
    width: 100%;
}

.block-ele-title{
    padding: 10px;
    color: var(--black);
    font-size: var(--font-size-normal);
}



.order_block{
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-y: scroll;
} 

.order_block::-webkit-scrollbar{
    display: none;
}



.order_block-element{
    display: flex;
    flex-direction: column;
    margin-top: .7rem;
    padding:0 .4rem 0 1rem ;
    width: 100%;
    height: 153px;
    background: var(--grey-2);
    border: 2px solid var(--grey-2);
}
.element-name-date{
    box-sizing: border-box;
    width: 100%;

}
.element-name{
    font-size: var(--font-size-normal);
}
.element-date{
    float: right;
    padding-top: 4px;
    font-size: var(--font-size-small);
}

.element-status{
    font-size: var(--font-size-small);
}

.status-progress {
    color: var(--green);
}
.status-canceled{
    color: var(--red);
}
.status-delivered{
    color: var(--black);
}

.ele-deliver-add,
.ele-reminder{
    color: var(--black);
    font-size: var(--font-size-small);
}

.element-status img{
    width: 15px;
    height: 8px;
    padding-left: 5px;
}

.ele-deliver-add{
    box-sizing: border-box;
    width: 100%;
}
.ele-deliver-add img{
    width: 15px;
    height: 15px;
    cursor: pointer;
}
.ele-deliver-add span{
    padding-left: 4px;
}

.order-btns {
    box-sizing: border-box;
    margin-top: 5px;
    font-size: var(--font-size-small);
}
.btn_accept{
    width: 93px;
    height: 26px;
    font-size: var(--font-size-small);
    border-radius: var(--border-radius-2);
}
.btn_cancel{
    width: 93px;
    height: 26px;
    margin-left: 14px;
    border-radius: var(--border-radius-2);
    font-size: var(--font-size-small);
}
.ele_ratting{
    width: 100%;
    box-sizing: border-box;
}
.service_ratting img{
    width: 18px;
    height: 13px;
    padding-left: 6px;
    color:var(--yellow);
}

.more-element{
    box-sizing: border-box;
    padding: 6.5px 0 0 16px;
    font-size: var(--font-size-small);
    color: var(--black);
}

@media screen and (min-width:513px) {
    .order-btns {
        box-sizing: border-box;
        margin-top: 1.5rem;
    }    
}






















