@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Varela+Round&display=swap");

/* Register component */

.main_card {
  min-height: 100vh;
  background: var(--bg-main-card);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card {
  width: min(80vw, 350px);
  min-height: 500px;
  padding: 2.5rem 1rem;
  background: var(--bg-card);
  border: var(--br-3px);
  border-radius: var(--border-10px);

  display: grid;
  grid-template-rows: 1fr 2fr 1fr;
}

.handyman {
  width: 100%;
}

.handyman_title {
  background: var(--bg-handyman);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-family: var(--ff-Varela);
  font-style: var(--fs-normal);
  font-weight: var(--fw-400);
  font-size: var(--fs-handyman);
}

.description-text {
  font-family: var(--ff-Varela);
  font-style: var(--fs-normal);
  font-weight: var(--fw-400);
  font-size: var(--fs-title);
  color: var(--clr-000);
  line-height: 0.5rem;
}

.items {
  line-height: 35px;
  display: flex;

  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;
}

.title {
  font-family: var(--ff-Inter);
  font-style: var(--fs-normal);
  font-weight: var(--fw-300);
  font-size: var(--fs-title);
  color: var(--clr-000);
}

.register_input {
  border: var(--br-grey);
  border-radius: var(--border-10px);
  width: 100%;
  height: 46px;
}
.register_input input {
  width: 80%;
  padding-left: 10px;
  border-radius: var(--border-10px);
  font-family: var(--ff-Inter);
  font-size: var(--fs-inputs);
  font-weight: var(--fw-300);
  font-style: var(--fs-normal);
  border: none;
  outline: none;
  color: var(--clr-grey);
}

.country_code {
  font-family: var(--ff-Inter);
  font-size: var(--fs-inputs);
  font-weight: var(--fw-300);
  font-style: var(--fs-normal);
  color: var(--clr-grey);
  margin-left: 0.7rem;
}
.have_account {
  font-family: var(--ff-Inter);
  font-style: var(--fs-normal);
  font-weight: var(--fw-300);
  font-size: var(--fs-account-title);
}

.have_account button {
  border: none;
  outline: none;
  color: #0081ff;
  margin-left: 0.3rem;
  background-color: var(--bg-card);
  cursor: pointer;
}

/* Get otp sections */
.get_otp {
  display: grid;
  grid-template-columns: auto auto auto auto;

  place-items: center;
}

.otp input {
  box-sizing: border-box;
  width: 45px;
  height: 54px;
  border-radius: var(--border-10px);
  font-family: var(--ff-Inter);
  font-style: var(--fs-normal);
  font-weight: var(--fw-300);
  font-size: var(--fs-inputs);
  outline: none;
  text-align: center;
  color: var(--clr-000);
  border: var(--br-dark-grey);
}

.verified {
  font-family: var(--ff-Inter);
  font-style: var(--fs-normal);
  font-weight: var(--fw-300);
  font-size: var(--fs-title);
  color: var(--clr-000);
  text-align: center;
}

/* Login Pages Input */

.login_input input,
.password_input input,
.signin_input input {
  width: 100%;

  padding-left: 0.7rem;

  outline: none;
  font-family: var(--ff-Inter);
  font-style: var(--fs-normal);
  font-weight: var(--fw-300);
  font-size: var(--fs-inputs);
  color: var(--clr-grey);
  background: var(--bg-card);
  border: var(--br-dark-grey);
  border-radius: var(--border-10px);
}

/* button */
.continue_btn {
  align-self: center;
  width: 100%;
  height: inherit;
}
.btn_primary {
  width: 100%;
  padding-block: 0.5rem;
  outline: none;
  font-family: var(--ff-Inter);
  font-style: var(--fs-normal);
  font-weight: var(--fw-400);
  font-size: var(--fs-title);
  color: #ffffff;

  background: var(--btn-bg-primary);
  border: 1px solid #1a81f2;
  border-radius: var(--border-10px);
  cursor: pointer;
}
