
:root{

  --black:#000000;
  --white: #FFFFFF;
  --cyan: #D2F0FF;
  --blue:#1A81F2;
  --red:#FF6363;

  --yellow:#FFD233;
  --green:#0FA958;
  
  --green-cyan: #B8EDDD;

  --grey-1:#898989; /*Text, border  */
  --grey-2:#F0EFEC; /* background */
  
  --font-size-large:32px;
  --font-size-title:18px; 
  --font-size-normal:16px;
  --font-size-small:13px;


  --font-family-1 : 'Varela Round';
  --font-family-2 : 'Inter';
  --font-style-normal : normal;

  --font-weight-1:400;
  --font-weight-2:300;

  --border-radius-1:8px;
  --border-radius-2:5px;

  }