
.create_new{
  width: 100%;
}

.create_new_btn{
  float:right;
  border: none;
  outline: none;
  color: #1A81F2;
  font-size: 15px;
  line-height: 5px;
  margin-right: 1rem;
  cursor: pointer;
  background-color: white;
}

.my_service_items{
    margin-top: 1rem;
    margin-left: .5rem;
    margin-right: .5rem;
}

.my_service_details{
    width: 100%;
    height: 114px;
    padding-top: 5px;
    padding-left: 5px;
    background: #F0EFEC;
    border: 3px solid #F0EFEC;
    border-radius: 10px;
}
.service_imgs {
    float: right;
    margin-top: 5px;
    margin-right: .5rem;
}

.service_imgs img {
    border-radius: 5px;
    width: 130px;
    height: 85px;
}


.user_names{
    font-size: 15px;
    font-weight: 400;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


/* Buttons types */


.btn_types{
    font-size: 14px;
    font-style: none;
    margin-top: 1.4rem;
}
.edit_btn{
    color: white;
    background: #1A81F2;
    border-radius: 5px;
    padding: 2px;
    width: 70px;
    border: none;
    outline: none;
    text-align: center;
    cursor: pointer;
}

.delete_btn{
    margin-left: 1rem;
    color: white;
    width: 70px;
    background: #FB8181;
    border-radius: 5px;
    padding: 2px;
    border: none;
    outline: none;
    text-align: center;
    cursor: pointer;
}


/* toggle button style */


.switch {
    position: relative;
    width: 40px;
    height: 18px;
  }

  .switch input { 
    opacity: 0;
    width: 12px;
    height: 10px;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    -webkit-transition: .4s;
    transition: .4s;
  }

  .slider:before {
    position: absolute;
    content: "";
    top:.9px;
    height: 15px;
    width: 15px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  input:checked + .slider {
    background-color: #2196F3;
  }

  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  input:checked + .slider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
  }

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }