

.say_hi{
    margin-top: 3rem;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
}

.choose{
    text-align: center;
    padding: .7rem;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
}

