

.register_para{
    margin-top: 3.5rem;
    line-height: .1rem;
    margin-left: 1rem;
}

.register_here{
    margin-top: 2rem;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    color: #000000;
}

.country_code{
    font-size: 16px;
    font-weight: 600;
    font-style: normal;
    color: #000000;
}

.have_account{
    font-size: 15px;
    padding-top: 10px;
    padding-left: 1rem;
}
.user_login{
    border: none;
    outline: none;
    color: #0081FF;
    margin-left: .3rem;
    background-color: #fff;
    cursor: pointer;
}


/* Get otp sections */
.mobile_otp{
    display:flex;
    flex-direction: row;
    margin-top: 1.5rem;
    text-align: center;
}
.otp{
    padding-left: 27px;
    color: white;
}
.otp input{
    width: 45px;
    height: 45px;
    box-sizing: border-box;
    background: #FFFFFF;
    border-radius: 10px;
    outline: none;
    color: rgba(0, 0, 0, 0.603);
    text-align: center;
    border: 0.5px solid #1A81F2;
}