

/* Register component */

.main_container {
  min-height: 100vh;
  background: var(--cyan);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card {
  width: min(80vw, 350px);
  min-height: 470px;
  padding: 2.5rem 1rem;
  background: var(--white);
  border:3px solid var(--grey-2);
  border-radius: var(--border-radius-1);

  display: grid;
  grid-template-rows: auto 1fr 2fr 1fr;
}

.logo{
  margin-top: -5.5rem;
  text-align: center;
}
.logo img{
  width: 87px;
  height: 79px;
}
.handyman {
  width: 100%;
}

.handyman_title {
  background: linear-gradient(89.81deg, #0081FF -2.6%, rgba(255, 0, 0, 0) 180.15%);;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-family: var(--font-family-1);
  font-style: var(--font-style-normal);
  font-weight: var(--font-weight-1);
  font-size: var(--font-size-large);
}

.description-text {
  font-family: var(--font-family-1);
  font-style: var(--font-style-normal);
  font-weight: var(--font-weight-1);
  font-size: var(--font-size-normal);
  color: var(--black);
  line-height:15px;
}

.items {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;
}

.title {
  font-family: var(--font-family-2);
  font-style: var(--font-style-normal);
  font-weight: var(--font-weight-2);
  font-size: var(--font-size-normal);
  color: var(--black);
}



/* Login Pages Input */


.password_input input,
.signin_input input {
  width: 100%;
  height:46px ;
  padding-left: 0.7rem;

  outline: none;
  font-family: var(--font-family-2);
  font-style: var(--font-style-normal);
  font-weight: var(--font-weight-2);
  font-size: var(--font-size-normal);
  color: var(--black);
  background: var(--white);
  border:1px solid var(--grey-1);
  border-radius: var(--border-radius-1);
}
