.register_input {
    border: 1px solid var(--grey-1);
    border-radius: var(--border-radius-1);
    width: 100%;
    height: 46px;
    padding: 7px;
    font-size: var(--font-size-normal);
  }
  .register_input input {
    width: 80%;
    height: 30px;
    padding-left: 7px;
    border-radius: var(--border-radius-1);
    font-family: var(--font-family-2);
    font-size: var(--font-size-normal);
    font-weight: var(--font-weight-2);
    font-style: var(--font-style-normal);
    border: none;
    outline: none;
    color: var(--black);
  }
  .country_code {
    font-family: var(--font-family-2);
    font-size: var(--font-size-normal);
    font-weight: var(--font-weight-2);
    font-style: var(--font-style-normal);
    color: var(--grey-1);
  }
  

.have_account {
    font-family: var(--font-family-2);
    font-style: var(--font-style-normal);
    font-weight: var(--font-weight-2);
    font-size: var(--font-size-small);
  }
  
  .have_account span {
    color: var(--blue);
    background-color: var(--white);
    cursor: pointer;
  }
  