@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

.service_category_list{
    width: 100%;
    margin-top: .5rem;
    border-radius: 10px;
}

.card_body{
    width: 100%;
    height: 135px;
    display: flex;
    padding-left: 1.3rem;
    overflow-y: auto;
    flex-direction: column;
}

.items_list{
    float: left;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    margin-top: .5rem;
}

.vender{
    line-height: 18px;
    font-family: 'Inter';
    font-style: normal;
    font-size: 15px;
    float: left;
    font-weight: 300;
}


.vender_msg{
    padding-left: .4rem;
} 