
.login_btn{
    width: 100%;
    height:46px ;
    outline: none;
    font-family: var(--font-family-2);
    font-style: var(--font-style-normal);
    font-weight: var(--font-weight-2);
    font-size: var(--font-size-normal);
    color: var(--grey-1);
    background: var(--white);
    border: 1px solid var(--grey-1);
    border-radius: var(--border-radius-1);
    cursor: pointer;
    float: left;
}

.login_btn:hover{
    background-color: var(--blue);
    color: var(--white);
}