*{
    margin: 0;
    padding: 0;
}

.register{
    position: relative;
    width: 100%;
    height: 667px;
    background: #D2F0FF;
}    

.main{
    position: absolute;
    width: 83%;
    height: 520px;
    left: 33px;
    top: 70px;
    margin-right: 1.5rem; 
    background-color: #FFFFFF;
    border-radius: 10px;
}

.regis_header{
    margin-top:1.8rem;
    margin-left: 1rem;
    line-height: .6rem;
}

.handyman{
    background: linear-gradient(89.81deg, #0081FF -2.6%, rgba(255, 0, 0, 0) 180.15%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    /* text-fill-color: transparent; */
    font-family: 'Varela Round';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
}

.handy_span{
    font-weight: 600;
    color: #000000;
    font-size: 15px;
    line-height: 24px;
}

.register_para{
    margin-top: 3.5rem;
    line-height: .1rem;
    margin-left: 1rem;
}

.register_here{
    margin-top: 2.5rem;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    color: #000000;
}

.user_phone{
    border: 1px solid #DFDDD6;
    border-radius: 10px;
    width: 92%;
    height: 50px;
    /* margin-right: 1rem; */
}

.country_code{
    font-size: 16px;
    font-weight: 600;
    font-style: normal;
    color: #000000;
}

.user_phone input{
    width: 90%;
    padding-left: 5px;
    padding-bottom: 2px;
    border-radius: 10px;
    height: 48px;
    font-size: 16px;
    font-weight: 600;
    font-style: normal;
    border: none;
    outline: none;
    color: #000000;
}

.continue{
    margin-top: 6rem;
    margin-left: 1rem;
}

.btn_primary{
    border: none;
    outline: none;
    width: 92%;
    height: 46px;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    color: #fff;
    background: rgba(0, 0, 255, 0.734);
    border-radius: 10px;
}


.verification{
    margin-top: 1rem;
    margin-left: 1rem;
}

.have_account{
    font-size: 15px;
    padding-top: 10px;
    padding-left: 1rem;
}

.btn_dark{
    border: none;
    outline: none;
    width: 92%;
    height: 46px;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    color: #000000;
    background: #DFDDD6;
    border-radius: 10px;
}


/* button style */

.user_login{
    border: none;
    outline: none;
    color: #0081FF;
    margin-left: .3rem;
    background-color: #fff;
}


/* Get otp styles */

.mobile_otp{
    display:flex;
    flex-direction: row;
    margin-top: 1.5rem;
    margin-left: 1.6rem;
    text-align: center;
}

.otp1 input,.otp2 input,
.otp3 input,.otp4 input{
    width: 45px;
    height: 45px;
    box-sizing: border-box;
    background: #FFFFFF;
    border-radius: 10px;
    outline: none;
    color: rgba(0, 0, 0, 0.603);
    text-align: center;
    border: 0.5px solid #1A81F2;
}

.otp2,.otp3,.otp4{
    margin-left: 1.6rem;

}

.verified_otp{
    margin-top: 1rem;
    text-align: center;
}

.verified_otp p{
    color: goldenrod;
    font-size: 15px;
}