
.addService_block{
    display: flex;
    flex-direction: column;
    padding: 2px 1rem 0 1rem;
}

.add_service_input input{
    width: 100%;
    height: 40px;
    font-family: var(--font-family-2);
    font-style: var(--font-style-normal);
    font-weight: var(--font-weight-2);
    font-size: var(--font-size-normal);
    padding-left: 1rem;
    color: var(--black);
    background: var(--white);
    border: 1px solid var(--grey-1);
    border-radius:var(--border-radius-2);
    outline: none;

}


.addService_block-title,
.available_item-title {
    font-family: var(--font-family-2);
    font-style: var(--font-style-normal);
    font-weight: var(--font-weight-2);
    font-size: var(--font-size-normal);
    color: var(--black);
    padding: .7rem 0 0 0;
}

.addService_block-images{
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    align-items: flex-start;
    margin-top: -.5rem;
}

.add_images{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90px;
    height: 96px;
    color: var(--blue);
    font-size: 60px;
    background: var(--white);
    border: 1px solid var(--grey-1);
    border-radius: var(--border-radius-1);
    cursor: pointer;
}

.add_images span{
    margin-top: -.3rem;
}

.check_available_items{
    margin-top: -.5rem;
    border: 1px solid var(--grey-1);
    border-radius: var(--border-radius-1);
}

table{
    box-sizing: border-box;
    width: 100%;
}
td{
    width: 100%;
    box-sizing: border-box;
    font-family: var(--font-family-2);
    font-style: var(--font-style-normal);
    font-weight: var(--font-weight-2);
    color: var(--black);
    font-size: var(--font-size-normal);
    border-top: 1px solid var(--grey-1);
    padding-left: 3.3rem;
    height: 30px;
}
td:nth-child(odd) {
    border-bottom: none;
  }
.items_price,
.table-items{
    font-family: var(--font-family-2);
    font-style: var(--font-style-normal);
    font-weight: var(--font-weight-2);
    font-size: var(--font-size-normal);
    color: var(--black);
    padding: 2px 40px 2px 40px;
}

.table-items{
    float: left;
}
.items_price{
    float: right;
}

.addService_btn{
    padding: 1.4rem 1rem 1.5rem 1rem;
    width: 100%;
}
