/* @import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap'); */


.create_service_container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem 1rem 0 1rem;
}


.forms{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.forms p{
    line-height: 8px;
    color: var(--clr-000);
    font-size: var(--fs-inputs);
}

.inputs input{
    width: 100%;
    height: 40px;
    font-family: var(--ff-Inter);
    font-style: var(--fs-normal);
    font-size: var(--fs-inputs);
    border:none;
    color: var(--clr-000);
    outline: none;
    border-radius: var(--br-5px);
    border:  var(--br-grey);
    padding-left: .7rem;
}
.user_location{
    width: 100%;
    height: 40px;
    padding-left: .7rem;
    padding-top: .4rem;
    padding-bottom: .4rem;
    font-family: var(--ff-Inter);
    font-style: var(--fs-normal);
    font-size: var(--fs-title);
    color: var(--clr-000);
    border-radius: var(--br-5px);
    border: var(--br-grey);
}
.add_location{
    cursor: pointer;
    font-style: var(--fs-normal);
    font-size: var(--fs-title);
    float: right;
    padding-right: .7rem;
    font-weight: var(--fs-300);
}



.available_categories p{
    display: flex;
    flex-direction: column;
    color: var(--clr-000);
    font-size: var(--fs-title);
    font-family: var();
}
.service_category{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-left: .4rem;
}

.service_category_img{
    text-align: center;
    width: 83px;
    display: flex;
    flex-direction: column;
}

.service_category_img img{
    width: 83px;
    height: 80px;
    border-radius: 50%;
    background-color: #B8EDDD;
}
.service_category_img label{
    font-family: var(--ff-Inter);
    font-weight: var(--fs-300);
   font-size: var(  --fs-element-names); 
    color: var(--clr-000);

}


@media screen and ( min-width:700px){
  
}


@media  (min-width:380px){

}