.footer-block {
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 100%;
  bottom: 0;
  height: 30px;
  background-color: var(--white);
}
.footer-element {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 3rem;
  margin-right: 4.8rem;
}

.menu-icon img {
  width: 15.64px;
  height: 15.69px;
}

.home-icon img {
  width: 22px;
  height: 19px;
}

.chat-icon img {
  width: 19px;
  height: 17px;
  cursor: pointer;
}
