*{
    margin: 0;
    padding: 0;
}

.show_main{
    position: relative;
    width: 100%;
    height: 667px;
    background-color: white;
}

.show_child{
    width: 100%;
    position: absolute;
    height: 238px;
    background: #D2F0FF;
}

.user_div{
    margin-top: 3rem;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    text-align: center;
    margin-left: 2.3rem;
    background-color: white;
}

.user_details{
    margin-left: 2rem;
}

.user_icons{
    margin-top: 2rem;
    color: #D2F0FF;
    border-radius: 50%;
}

.profile_icons{
    text-align: center;
    font-size: 40px;
}

.show_username{
    font-size: 18px;
    font-style: none;
    background: linear-gradient(89.81deg, #0081FF -2.6%, rgba(255, 0, 0, 0) 180.15%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    /* text-fill-color: transparent; */
}

.edit_user_icons{
    margin-left: .5rem;
    cursor: pointer;
    color: #0F81F7;
    font-size: 14px;
    cursor: pointer;
}


.user_account{
    position: absolute;
    top: 45%;
    height: 360px;
    width: 100%;
    background-color: white;
}


/* User contacts */

.show_account{
    margin-left: 1.5rem;
    font-size: 20px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    color: #1A81F2;
}
.user_contacts,
.user_address{
    line-height: 20px;
    margin-top: 2rem;
    margin-left: 1.5rem;
}

.user_home_add,
.user_mobile{
    line-height: 5px;
    font-size: 16px;
    font-weight: 500;
}

.change_address,
.change_number{
    line-height: 15px;
    font-size: 13px;
    color: #898989;
}